@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e9e8e8;
}

header {
    background-color: #808080;
    
}

header > h1 {
    text-align: center;
    padding: 20px;
    
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    background-color:#424242;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-top: 1px solid #d3d3d37a
}

menu a:hover {
    background-color: #e9e8e838;
}

i#burger {
    background-color: #292828be;
    border-radius: 5px;
    display: block;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ffffffa4;
}

i#burger:hover {
    background-color: #e9e8e86b;
}

main {
    width: 65vw;
    margin: auto;
    background-color: #f5f5dc;
    border-radius: 10px;
    margin-top: 20px;
}

main h2 {
    padding: 20px;
    text-align: left;
}

article > p {
    text-align: justify;
    line-height: 1.3em;
    padding: 10px;
    text-indent: 20px;
}